<header>
    <nav>
        <div class="logo">

        </div>
        <ul>
            <li routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Pedidos vagas
            </li>
            <li routerLink="/lista-gestores" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Lista Gestores
            </li>
            <li routerLink="/lista-departamentos" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Lista Departamento
            </li>
        </ul>
    </nav>
</header>