<h1>Lista de Gestores</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            @for(gestor of gestorModelo(); track $index){
            <tr>
                <td>{{gestor.nome}}</td>
                <td>{{gestor.email}}</td>
                <td>{{gestor.cargo}}</td>
                <td>{{trocaIdPorNome(gestor.departamentoId)}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>